@import '@/scss/global/variables.scss';

.listSection {
  $root: &;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 6 * $spacer;

  &:last-child {
    margin-bottom: 0;
  }

  .swiper {
    padding: 1.5 * $spacer;
  }

  .swiper-wrapper {
    gap: (3 * $spacer);
    box-sizing: border-box;
  }

  &__wrapper {
    width: 100%;
    margin: (-1.5) * ($spacer);
  }

  &__slide {
    flex: 0 0 12.666667%;
    max-width: 12.666667%;
    min-width: 0;
    min-height: 0;
  }
}