@import "@/scss/global/variables.scss";

.cardSong {
  $root: &;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2 * $spacer;

  &__cover {
    flex: 0 0 48px;
    max-width: 48px;
    
    img {
      width: 6 * $spacer;
      height: 6 * $spacer;
      border-radius: $spacer;
    }
  }

  &__artists {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5 * $spacer;
  }

  &__artist {
    color: $cl-gray-light;
  }

  &__artists-more {
    color: $cl-gray-light;
  }

  &__link {
    z-index: 2;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}