$spacer: 8px;

$cl-green-main: #1DB954;
$cl-green-lime: #CBF55C;

$cl-white: #FFFFFF;

$cl-black: #191414;
$cl-dark: #121212;
$cl-dark-light: #212121;

$cl-gray: #535353;
$cl-gray-light: #B3B3B3;

$cl-purple-main: #400073;

$cl-error-transparent: #ff3f3fbe;